@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'young-serif';
        font-style: normal;
        src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'outfit';
        font-style: normal;
        src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    }
}